<!-- app/views/users/show.html.erb -->

<div class="container mt-5">
  <div class="row">
    <div class="col-md-8 offset-md-2">
      <div class="card">
        <div class="card-header">
          <h2>Mon Profil</h2>
        </div>
        <div class="card-body">
          <p class=" text-center"><strong>Nom :</strong> <%= @user.last_name %></p>
          <p class=" text-center"><strong>Prénom :</strong> <%= @user.first_name %></p>
          <p class=" text-center"><strong>Email :</strong> <%= @user.email %></p>
          <%= link_to 'Modifier mon profil', edit_user_path(@user), class: 'btn btn-primary text-center', style: 'background-color: #d4a373; border-color: #d4a373;' %>
        </div>
      </div>
    </div>
  </div>
</div>