<!DOCTYPE html>
<html>
<body>
<div class="banner">
<img src="https://i.pinimg.com/736x/eb/c4/58/ebc4585c60a1747465044d967569aceb.jpg" alt="banner" style="width:100%; height: auto;">
  <div class="banner_text d-none d-lg-block">
  <p>Découvrez nos nouvelles photos de chats steampunk ! Plongez dans un univers où élégance féline et esthétique victorienne se rencontrent.</p>
  <a href="<%= products_path %>" class="btn">Achetez Maintenant !</a>
</div>
</div>
<div class="container mt-5">
  <div class="jumbotron">
    <p class="lead text-center">Découvrez la gallerie de photos de chats steampunk et laissez-vous émerveiller par ces créations uniques !</p>
  </div>
</div>
</body>

</html>