<div class="container mt-5">
  <div class="jumbotron">
    <h1 class="display-4">Bienvenue sur MyEcommerceSite</h1>
    <p class="lead">Votre destination ultime pour les meilleurs produits en ligne.</p>
    <hr class="my-4">
    <p>Inscrivez-vous pour découvrir nos offres exclusives.</p>
    <a class="btn btn-primary btn-lg" href="<%= new_user_registration_path %>" role="button">Inscription</a>
  </div>
</div>
