/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 html, body {
    margin: 0;
    padding: 0;
    height: 100%; /* Définit la hauteur à 100% pour remplir toute la page */
  }
  
  .banner {
    position: relative;
  }
  
  .banner img {
    width: 100%; /* Étend l'image sur toute la largeur de son conteneur */
    display: block; /* Assurez-vous que l'image est affichée en tant que bloc pour gérer correctement les marges */
  }
  
  .banner_text {
    position: absolute;
    bottom: 20px; /* Espacement par rapport au bas de l'image */
    right: 20px; /* Espacement par rapport à gauche */
    width: 70%;
    max-width: 700px;
    height: 250px;
    background-color: #F9E4B7;
    padding: 20px;
    border-radius: 30px;
  }
  
  .banner_text p {
    margin: 10px; /* Supprime la marge par défaut du paragraphe */
    font-size: 25px;
  }
  
  .banner_text .btn {
    display: inline-block;
    margin: 0 auto;
    padding: 12px 24px;
    background-color: #D4AF37;
    color: #fff;
    text-decoration: none;
    margin-top: 30px;
    font-size: 25px;
    text-align: center;
  }
  
 .navbar {
    background-color: white;
    color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    max-height: 100px;
  }
  
  .logo {
    max-height: 80px;
  }
  
  .navbar-nav {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
  }
  
  .nav-item {
    margin-left: 40px;
    font-size: 25px;
  }
  
  .nav-link {
    color: black;
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }
  
  .nav-link:hover {
    background-color: #555;
  }
  
  .icon-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  .icon-list li {
    margin-left: 40px;
  }
  
  .icon-list a {
    color: #fff;
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    transition: background-color 0.3s ease;
  }
  
  .icon-list a:hover {
    background-color: #555;
  }

  .dropdown-menu {
    display: none;
    position: absolute;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 10px;
    border-radius: 5px;
  }
  
  .show {
    display: block;
  }
.banner_page {
  position: relative;
}
  .banner_page img {
    width: 100%; /* Étend l'image sur toute la largeur de son conteneur */
    height: 500px;
    display: block; /* Assurez-vous que l'image est affichée en tant que bloc pour gérer correctement les marges */
    filter: blur(2px);
    opacity: 0.9;
  }
  .title_banner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; /* Centrer le texte */
  }
  
  .title_page {
    color: black; /* Couleur du texte */
    text-decoration: none;
    font-size: 80px;
  }
  .btn_page {
    color: black; /* Couleur du texte */
    text-decoration: none;
    font-size: 50px;
  }
