/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 .navbar {
  background-color: #ffffff;
}
.nav-link {
  color: black;
  text-decoration: none;
}
.nav-link:hover {
  color: black;
}
.navbar-brand {
  font-size: 1.5em;
  font-weight: bold;
  text-transform:uppercase;
  color: black;
}

.navbar-nav {
  margin: auto;
}

.navbar-nav.text-center {
  flex: 1;
}


.navbar-nav .nav-item .nav-link {
  font-size: 1.1em;
}

.navbar-brand img {
  width: 50px;
  height: 50px;
}

.navbar-brand img {
  width: 50px;
  height: 50px;
}
.dropdown-content {
  position: absolute;
  background-color: #ffffff;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.dropdown-content a:hover {
  background-color: #ddd;
}
.dropdown:hover .dropdown-content {
  display: block;
}

.banner {
  position: relative;
  text-align: center;
  color: white;
}
.banner img {
  width: 100%;
  height: 500px;
}
.banner_text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(0, 0, 0, 0.5); /* Semi-transparent background for readability */
  padding: 20px;
  border-radius: 10px;
}
.banner_text p {
  font-size: 1.5em;
}
.banner_text .btn {
  margin-top: 10px;
  background-color: #d4af37;
  color: white;
}

.gold-button {
  background-color: #d4af37;
  color: white;
}
.banner_page {
  position: relative;
  text-align: center;
  color: white;
}
.banner_page img {
  width: 100%;
  height: 400px;
  filter: blur(2px);
  -webkit-filter: blur(2px);
}
.title_banner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(0, 0, 0, 0.5); /* Fond semi-transparent pour une meilleure lisibilité */
  padding: 20px;
  border-radius: 10px;
  color: white;
}
.title_banner .title_page {
  font-size: 2.5em;
  margin: 0;
}
.title_banner .btn_page {
  color: white;
  text-decoration: none;
  margin: 10px 0;
  font-size: 1.2em;
}
.title_banner .btn_page:hover {
  text-decoration: underline;
}

.trophy {
  background-color: beige;
  width: auto;
}

.icon {
  height: 80px;
  width: 80px;
}


/**Max page produits **/
.box {
  position: relative;
  width: 1242px;
  height: 730px;
}


.single-product {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.single-product .div {
  background-color: #ffffff;
  overflow: hidden;
  width: 1440px;
  height: 3107px;
  position: relative;
}

.single-product .header {
  position: absolute;
  width: 1465px;
  height: 100px;
  top: 0;
  left: 50px;
  background-color: transparent;
}

.single-product .overlap-group {
  position: relative;
  width: 1470px;
  height: 100px;
  left: -5px;
}

.single-product .rectangle {
  position: absolute;
  width: 1440px;
  height: 100px;
  top: 0;
  left: 30px;
  background-color: #ffffff;
}

.single-product .group {
  position: absolute;
  width: 1370px;
  height: 54px;
  top: 22px;
  left: 0;
}

.single-product .group-2 {
  position: absolute;
  width: 1440px;
  height: 100px;
  top: 114px;
  left: 0;
  background-image: url(./img/rectangle-20.png);
  background-size: 100% 100%;
}

.single-product .group-wrapper {
  position: absolute;
  width: 109px;
  height: 37px;
  top: 31px;
  left: 312px;
}

.single-product .group-3 {
  position: relative;
  width: 111px;
  height: 37px;
}

.single-product .line {
  position: absolute;
  width: 2px;
  height: 37px;
  top: 0;
  left: 0;
}

.single-product .text-wrapper {
  position: absolute;
  top: 6px;
  left: 34px;
  font-family: "Poppins-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
}

.single-product .group-4 {
  position: absolute;
  width: 84px;
  height: 24px;
  top: 38px;
  left: 99px;
}

.single-product .text-wrapper-2 {
  position: absolute;
  top: 0;
  left: 0;
  font-family: "Poppins-Regular", Helvetica;
  font-weight: 400;
  color: #9f9f9f;
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
}

.single-product .dashicons-arrow-up {
  position: absolute;
  width: 20px;
  height: 20px;
  top: 2px;
  left: 62px;
}

.single-product .overlap-group-wrapper {
  position: absolute;
  width: 84px;
  height: 24px;
  top: 38px;
  left: 205px;
}

.single-product .overlap-group-2 {
  position: relative;
  width: 82px;
  height: 24px;
}

.single-product .overlap {
  position: absolute;
  width: 1468px;
  height: 1527px;
  top: 246px;
  left: 0;
}

.single-product .img {
  position: absolute;
  top: 0;
  left: 0;
}

.single-product .group-5 {
  position: absolute;
  width: 1440px;
  height: 744px;
  top: 783px;
  left: 28px;
  background-color: #ffffff;
}

.single-product .line-2 {
  position: absolute;
  width: 1412px;
  height: 1px;
  top: -1px;
  left: 0;
  object-fit: cover;
}

.single-product .group-6 {
  position: absolute;
  width: 672px;
  height: 36px;
  top: 48px;
  left: 396px;
}

.single-product .text-wrapper-3 {
  position: absolute;
  top: 0;
  left: 0;
  font-family: "Poppins-Medium", Helvetica;
  font-weight: 500;
  color: #000000;
  font-size: 24px;
  letter-spacing: 0;
  line-height: normal;
}

.single-product .text-wrapper-4 {
  position: absolute;
  top: 0;
  left: 189px;
  font-family: "Poppins-Regular", Helvetica;
  font-weight: 400;
  color: #9f9f9f;
  font-size: 24px;
  letter-spacing: 0;
  line-height: normal;
}

.single-product .text-wrapper-5 {
  position: absolute;
  top: 0;
  left: 576px;
  font-family: "Poppins-Regular", Helvetica;
  font-weight: 400;
  color: #9f9f9f;
  font-size: 24px;
  letter-spacing: 0;
  line-height: normal;
}

.single-product .sur-cette-image-wrapper {
  position: absolute;
  width: 1028px;
  height: 48px;
  top: 121px;
  left: 207px;
}

.single-product .sur-cette-image {
  position: absolute;
  width: 1026px;
  top: 0;
  left: 0;
  font-family: "Poppins-Regular", Helvetica;
  font-weight: 400;
  color: #9f9f9f;
  font-size: 16px;
  text-align: justify;
  letter-spacing: 0;
  line-height: normal;
}

.single-product .div-wrapper {
  position: absolute;
  width: 1239px;
  height: 348px;
  top: 331px;
  left: 100px;
}

.single-product .overlap-group-3 {
  position: relative;
  height: 348px;
}

.single-product .group-7 {
  position: absolute;
  width: 666px;
  height: 348px;
  top: 0;
  left: 0;
}

.single-product .group-8 {
  position: absolute;
  width: 605px;
  height: 348px;
  top: 0;
  left: 686px;
  background-color: #f9f1e7;
  border-radius: 10px;
  background-image: url(./img/mask-group.png);
  background-size: 100% 100%;
}

.single-product .line-3 {
  position: absolute;
  width: 1412px;
  height: 1px;
  top: 743px;
  left: 0;
  object-fit: cover;
}

.single-product .overlap-2 {
  position: absolute;
  width: 1442px;
  height: 1270px;
  top: 1787px;
  left: 0;
}

.single-product .overlap-wrapper {
  position: absolute;
  width: 1442px;
  height: 777px;
  top: 0;
  left: 0;
}

.single-product .overlap-3 {
  position: relative;
  width: 1440px;
  height: 777px;
  background-color: #ffffff;
}

.single-product .text-wrapper-6 {
  position: absolute;
  top: 55px;
  left: 564px;
  font-family: "Poppins-Medium", Helvetica;
  font-weight: 500;
  color: #000000;
  font-size: 36px;
  letter-spacing: 0;
  line-height: normal;
}

.single-product .frame {
  gap: 32px;
  position: absolute;
  top: 135px;
  left: 100px;
  display: inline-flex;
  align-items: center;
}

.single-product .featured-products {
  position: relative;
  width: 285px;
  height: 446px;
}

.single-product .description-wrapper {
  position: absolute;
  width: 285px;
  height: 145px;
  top: 301px;
  left: 0;
  background-color: var(--color-light-bg);
}

.single-product .description {
  width: 162px;
  position: relative;
  height: 99px;
  top: 16px;
  left: 16px;
}

.single-product .price {
  position: absolute;
  width: 63px;
  height: 30px;
  top: 69px;
  left: 0;
}

.single-product .frame-2 {
  gap: 16px;
  position: relative;
  display: inline-flex;
  align-items: center;
}

.single-product .fix-price {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "Poppins-SemiBold", Helvetica;
  font-weight: 600;
  color: var(--color-gray-1);
  font-size: 20px;
  letter-spacing: 0;
  line-height: 30px;
  white-space: nowrap;
}

.single-product .fix-price-2 {
  position: relative;
  width: fit-content;
  font-family: "Poppins-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 24px;
  text-decoration: line-through;
  white-space: nowrap;
}

.single-product .product-name {
  width: 166px;
  position: absolute;
  height: 61px;
  top: 0;
  left: 0;
}

.single-product .product-name-2 {
  position: absolute;
  top: 0;
  left: 0;
  font-family: "Poppins-SemiBold", Helvetica;
  font-weight: 600;
  color: var(--color-gray-1);
  font-size: 24px;
  letter-spacing: 0;
  line-height: 28.8px;
  white-space: nowrap;
}

.single-product .sort-description {
  position: absolute;
  top: 37px;
  left: 0;
  font-family: "Poppins-Medium", Helvetica;
  font-weight: 500;
  color: var(--color-gray-3);
  font-size: 16px;
  letter-spacing: 0;
  line-height: 24px;
  white-space: nowrap;
}

.single-product .image {
  position: absolute;
  width: 285px;
  height: 301px;
  top: 0;
  left: 0;
}

.single-product .images {
  position: absolute;
  width: 285px;
  height: 301px;
  top: 0;
  left: 0;
  background-image: url(./img/image-8-2.png);
  background-size: cover;
  background-position: 50% 50%;
}

.single-product .overlap-group-4 {
  position: relative;
  height: 301px;
  background-image: url(./img/image-7.png);
  background-size: cover;
  background-position: 50% 50%;
}

.single-product .image-2 {
  position: absolute;
  width: 285px;
  height: 301px;
  top: 0;
  left: 0;
  object-fit: cover;
}

.single-product .image-3 {
  width: 284px;
  left: 1px;
  object-fit: cover;
  position: absolute;
  height: 301px;
  top: 0;
}

.single-product .label {
  position: absolute;
  width: 48px;
  height: 48px;
  top: 24px;
  left: 213px;
}

.single-product .overlap-group-wrapper-2 {
  width: 50px;
  height: 48px;
}

.single-product .overlap-group-5 {
  position: relative;
  width: 48px;
  height: 48px;
  background-color: var(--color-red-accents);
  border-radius: 24px;
}

.single-product .text-wrapper-7 {
  position: absolute;
  top: -15px;
  left: -70px;
  font-family: "Poppins-Medium", Helvetica, sans-serif;
  font-weight: 500;
  color: green;
  font-size: 50px;
  letter-spacing: 0;
  line-height: 1.2;
  white-space: nowrap;
  background-color: rgba(255, 255, 255, 0.7); /* Ajout d'un fond transparent pour une meilleure lisibilité */
  padding: 10px; /* Ajout d'un padding pour un meilleur espacement */
  border-radius: 5px; /* Coins arrondis pour un effet visuel agréable */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15); /* Ombre pour un effet de relief */
}

.single-product .description-2 {
  width: 175px;
  position: relative;
  height: 99px;
  top: 16px;
  left: 16px;
}

.single-product .product-name-3 {
  width: 179px;
  position: absolute;
  height: 61px;
  top: 0;
  left: 0;
}

.single-product .images-2 {
  position: absolute;
  width: 285px;
  height: 301px;
  top: 0;
  left: 0;
  background-image: url(./img/image-8.png);
  background-size: cover;
  background-position: 50% 50%;
}

.single-product .overlap-group-6 {
  position: relative;
  height: 301px;
  background-image: url(./img/image-7-2.png);
  background-size: cover;
  background-position: 50% 50%;
}

.single-product .description-3 {
  width: 184px;
  position: relative;
  height: 99px;
  top: 16px;
  left: 16px;
}

.single-product .product-name-4 {
  width: 188px;
  position: absolute;
  height: 61px;
  top: 0;
  left: 0;
}

.single-product .images-3 {
  position: absolute;
  width: 285px;
  height: 301px;
  top: 0;
  left: 0;
  background-image: url(./img/image-8-3.png);
  background-size: cover;
  background-position: 50% 50%;
}

.single-product .overlap-group-7 {
  position: relative;
  height: 301px;
  background-image: url(./img/image-7-3.png);
  background-size: cover;
  background-position: 50% 50%;
}

.single-product .description-4 {
  width: 150px;
  position: relative;
  height: 99px;
  top: 16px;
  left: 16px;
}

.single-product .product-name-5 {
  width: 154px;
  position: absolute;
  height: 61px;
  top: 0;
  left: 0;
}

.single-product .label-wrapper {
  position: absolute;
  width: 285px;
  height: 301px;
  top: 0;
  left: 0;
  background-image: url(./img/image-4-3.png);
  background-size: cover;
  background-position: 50% 50%;
}

.single-product .label-2 {
  position: relative;
  width: 48px;
  height: 48px;
  top: 24px;
  left: 213px;
}

.single-product .overlap-group-8 {
  position: relative;
  width: 48px;
  height: 48px;
  background-color: var(--color-green-accents);
  border-radius: 24px;
}

.single-product .text-wrapper-8 {
  position: absolute;
  top: 12px;
  left: 8px;
  font-family: "Poppins-Medium", Helvetica;
  font-weight: 500;
  color: var(--color-white);
  font-size: 16px;
  letter-spacing: 0;
  line-height: 24px;
  white-space: nowrap;
}

.single-product .show-more {
  position: absolute;
  width: 247px;
  height: 48px;
  top: 625px;
  left: 598px;
}

.single-product .overlap-4 {
  position: relative;
  width: 245px;
  height: 48px;
  background-color: var(--color-white);
  border: 1px solid;
  border-color: var(--primary);
}

.single-product .text-wrapper-9 {
  position: absolute;
  top: 11px;
  left: 81px;
  font-family: "Poppins-SemiBold", Helvetica;
  font-weight: 600;
  color: var(--primary);
  font-size: 16px;
  letter-spacing: 0;
  line-height: 24px;
  white-space: nowrap;
}

.single-product .footer {
  position: absolute;
  width: 1440px;
  height: 505px;
  top: 765px;
  left: 0;
  background-color: transparent;
}

.single-product .overlap-5 {
  position: relative;
  width: 1442px;
  height: 507px;
  top: -1px;
  left: -1px;
  background-color: #ffffff;
  border-top-width: 1px;
  border-top-style: solid;
  border-color: #0000002b;
}

.single-product .group-9 {
  position: relative;
  width: 1240px;
  height: 419px;
  top: 48px;
  left: 100px;
}

.single-product .group-10 {
  position: absolute;
  width: 1137px;
  height: 312px;
  top: 0;
  left: 0;
}

.single-product .element-rue-de-la {
  position: absolute;
  width: 285px;
  top: 86px;
  left: 2px;
  font-family: "Poppins-Regular", Helvetica;
  font-weight: 400;
  color: #9f9f9f;
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
}

.single-product .text-wrapper-10 {
  position: absolute;
  top: 0;
  left: 0;
  font-family: "Poppins-Bold", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 24px;
  letter-spacing: 0;
  line-height: normal;
}

.single-product .group-11 {
  position: absolute;
  width: 710px;
  height: 312px;
  top: 0;
  left: 423px;
}

.single-product .group-12 {
  position: absolute;
  width: 374px;
  height: 312px;
  top: 0;
  left: 0;
}

.single-product .group-13 {
  position: absolute;
  width: 77px;
  height: 312px;
  top: 0;
  left: 0;
}

.single-product .group-14 {
  position: absolute;
  width: 81px;
  height: 233px;
  top: 79px;
  left: 2px;
}

.single-product .text-wrapper-11 {
  position: absolute;
  top: 0;
  left: 0;
  font-family: "Poppins-Medium", Helvetica;
  font-weight: 500;
  color: #000000;
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
}

.single-product .text-wrapper-12 {
  position: absolute;
  top: 70px;
  left: 0;
  font-family: "Poppins-Medium", Helvetica;
  font-weight: 500;
  color: #000000;
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
}

.single-product .a-propos {
  position: absolute;
  top: 140px;
  left: 0;
  font-family: "Poppins-Medium", Helvetica;
  font-weight: 500;
  color: #000000;
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
}

.single-product .text-wrapper-13 {
  position: absolute;
  top: 209px;
  left: 0;
  font-family: "Poppins-Medium", Helvetica;
  font-weight: 500;
  color: #000000;
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
}

.single-product .text-wrapper-14 {
  position: absolute;
  top: 0;
  left: 0;
  font-family: "Poppins-Medium", Helvetica;
  font-weight: 500;
  color: #9f9f9f;
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
}

.single-product .group-15 {
  position: absolute;
  width: 164px;
  height: 242px;
  top: 0;
  left: 212px;
}

.single-product .group-16 {
  position: absolute;
  width: 168px;
  height: 163px;
  top: 79px;
  left: 0;
}

.single-product .politiques-priv-s {
  position: absolute;
  top: 139px;
  left: 0;
  font-family: "Poppins-Medium", Helvetica;
  font-weight: 500;
  color: #000000;
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
}

.single-product .group-17 {
  position: absolute;
  width: 288px;
  height: 101px;
  top: 2px;
  left: 424px;
}

.single-product .group-18 {
  position: absolute;
  width: 290px;
  height: 24px;
  top: 77px;
  left: 0;
}

.single-product .text-wrapper-15 {
  position: absolute;
  top: 0;
  left: 0;
  font-family: "Poppins-Regular", Helvetica;
  font-weight: 400;
  color: #9f9f9f;
  font-size: 14px;
  letter-spacing: 0;
  line-height: normal;
}

.single-product .line-4 {
  position: absolute;
  width: 200px;
  height: 1px;
  top: 23px;
  left: 0;
  object-fit: cover;
}

.single-product .ABONNEMENT {
  position: absolute;
  top: 0;
  left: 211px;
  font-family: "Poppins-Medium", Helvetica;
  font-weight: 500;
  color: #000000;
  font-size: 14px;
  letter-spacing: 0;
  line-height: normal;
}

.single-product .line-5 {
  position: absolute;
  width: 75px;
  height: 1px;
  top: 23px;
  left: 211px;
  object-fit: cover;
}

.single-product .group-19 {
  position: absolute;
  width: 1242px;
  height: 59px;
  top: 360px;
  left: 0;
}

.single-product .line-6 {
  position: absolute;
  width: 1240px;
  height: 1px;
  top: -1px;
  left: 0;
  object-fit: cover;
}

.single-product .element-steampunk-cat {
  position: absolute;
  top: 35px;
  left: 2px;
  font-family: "Poppins-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
}

