<div class="banner_page">
<img src="https://i.pinimg.com/736x/eb/c4/58/ebc4585c60a1747465044d967569aceb.jpg" alt="banner" style="width:100%; height: auto;">
  <div class="title_banner d-none d-lg-block">
  <h1 class="title_page">Produits</h1>
  <a href="<%= root_path %>" class="btn_page">Accueil </a> >  <a href="<%= products_path %>" class="btn_page">Produits</a>
</div>
</div>
<%= render partial: 'shared/trophy' %>
