<body>
    <div class="single-product">
      <div class="div">
        <header class="header">
          <div class="overlap-group">
            <div class="rectangle"></div>
          </div>
        </header>
        <div class="group-2">
          <div class="group-wrapper">
            <div class="group-3">
              <img class="line" src="img/line-5.svg" />
              <div class="text-wrapper">Chat Duc</div>
            </div>
          </div>
          <div class="group-4">
            <div class="text-wrapper-2">Accueil</div>
            <img class="dashicons-arrow-up" src="img/image.svg" />
          </div>
          <div class="overlap-group-wrapper">
            <div class="overlap-group-2">
              <div class="text-wrapper-2">Produits</div>
              <img class="dashicons-arrow-up" src="img/dashicons-arrow-up-alt2.svg" />
            </div>
          </div>
        </div>
        <div class="overlap">
          <img class="img" src="img/group-104.png" />
          <div class="group-5">
            <img class="line-2" src="img/line-8.svg" />
            <div class="group-6">
              <div class="text-wrapper-3">Description</div>
              <div class="text-wrapper-4">Informations Supplémentaires</div>
              <div class="text-wrapper-5">Avis [5]</div>
            </div>
            <div class="sur-cette-image-wrapper">
              <p class="sur-cette-image">
                Sur cette image captivante, &#34;Chat Duc&#34; se présente avec une majesté&nbsp;&nbsp;incontestable,
                paré d&#39;un élégant costume steampunk. Son pelage soyeux et&nbsp;&nbsp;rayé met en valeur les détails
                métalliques et cuivrés de son chapeau&nbsp;&nbsp;haut-de-forme, orné de rouages et de lunettes
                d&#39;aviateur. L&#39;œil droit du&nbsp;&nbsp;félin est accentué par un monocle orné de fines chaînes,
                ajoutant une&nbsp;&nbsp;touche de sophistication et de mystère à son regard perçant. Le col
                de&nbsp;&nbsp;son manteau victorien, décoré de motifs complexes et de petites
                boucles,&nbsp;&nbsp;complète parfaitement l&#39;ensemble, conférant à &#34;Chat Duc&#34; une
                allure&nbsp;&nbsp;noble et intrépide.
              </p>
            </div>
            <div class="div-wrapper">
              <div class="overlap-group-3">
                <img class="group-7" src="img/group-107.png" />
                <div class="group-8"></div>
              </div>
            </div>
            <img class="line-3" src="img/line-9.svg" />
          </div>
        </div>
        <div class="overlap-2">
          <div class="overlap-wrapper">
            <div class="overlap-3">
              <div class="text-wrapper-6">Nos Photos</div>
              <div class="frame">
                <div class="featured-products">
                  <div class="description-wrapper">
                    <div class="description">
                      <div class="price">
                        <div class="frame-2">
                          <div class="fix-price">150</div>
                          <div class="fix-price-2">€</div>
                        </div>
                      </div>
                      <div class="product-name">
                        <div class="product-name-2">Colonel Tigri</div>
                        <div class="sort-description">Colonel au rapport !</div>
                      </div>
                    </div>
                  </div>
                  <div class="image">
                    <div class="images">
                      <div class="overlap-group-4">
                        <img class="image-2" src="img/image-6.png" />
                        <img class="image" src="img/image-5-3.png" />
                        <img class="image-2" src="img/image-4.png" />
                        <img class="image-2" src="img/image-3-2.png" />
                        <img class="image-3" src="img/image-2.png" />
                        <img class="image-2" src="img/image-1.png" />
                      </div>
                    </div>
                    <div class="label">
                      <div class="overlap-group-wrapper-2">
                        <div class="overlap-group-5"><div class="text-wrapper-7">-30%</div></div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="featured-products">
                  <div class="description-wrapper">
                    <div class="description-2">
                      <div class="price">
                        <div class="frame-2">
                          <div class="fix-price">150</div>
                          <div class="fix-price-2">€</div>
                        </div>
                      </div>
                      <div class="product-name-3">
                        <div class="product-name-2">Cat’s eyes</div>
                        <div class="sort-description">Big Cat Watching you</div>
                      </div>
                    </div>
                  </div>
                  <div class="images-2">
                    <div class="overlap-group-6">
                      <img class="image-2" src="img/image.png" />
                      <img class="image" src="img/image-5-2.png" />
                      <img class="image-2" src="img/image-4-4.png" />
                      <img class="image-2" src="img/image-3-3.png" />
                      <img class="image-3" src="img/image-2-2.png" />
                    </div>
                  </div>
                </div>
                <div class="featured-products">
                  <div class="description-wrapper">
                    <div class="description-3">
                      <div class="price">
                        <div class="frame-2">
                          <div class="fix-price">150</div>
                          <div class="fix-price-2">€</div>
                        </div>
                      </div>
                      <div class="product-name-4">
                        <div class="product-name-2">Mr &amp; Mrs Cativi</div>
                        <div class="sort-description">Le couple riche</div>
                      </div>
                    </div>
                  </div>
                  <div class="image">
                    <div class="images-3">
                      <div class="overlap-group-7">
                        <img class="image-2" src="img/image-6-2.png" />
                        <img class="image" src="img/image-5.png" />
                        <img class="image-2" src="img/image-4-2.png" />
                        <img class="image-2" src="img/image-3.png" />
                      </div>
                    </div>
                    <div class="label">
                      <div class="overlap-group-wrapper-2">
                        <div class="overlap-group-5"><div class="text-wrapper-7">-50%</div></div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="featured-products">
                  <div class="description-wrapper">
                    <div class="description-4">
                      <div class="price">
                        <div class="frame-2">
                          <div class="fix-price">150</div>
                          <div class="fix-price-2">€</div>
                        </div>
                      </div>
                      <div class="product-name-5">
                        <div class="product-name-2">Catsvidania</div>
                        <div class="sort-description">A la prochaine !</div>
                      </div>
                    </div>
                  </div>
                  <div class="label-wrapper">
                    <div class="label-2">
                      <div class="overlap-group-wrapper-2">
                        <div class="overlap-group-8"><div class="text-wrapper-8">New</div></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="show-more">
                <div class="overlap-4"><div class="text-wrapper-9">Voir Plus</div></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>