<body>
    <div class="single-product">
      <div class="div">
        <header class="header">
          <div class="overlap-group">
            <div class="rectangle"></div>
          </div>
        </header>
        <div class="group-2">
          <div class="group-wrapper">
            <div class="group-3">
              <img class="line" src="img/line-5.svg" />
              <div class="text-wrapper">Chat Duc</div>
            </div>
          </div>
          <div class="group-4">
            <div class="text-wrapper-2">Accueil</div>
            <img class="dashicons-arrow-up" src="img/image.svg" />
          </div>
          <div class="overlap-group-wrapper">
            <div class="overlap-group-2">
              <div class="text-wrapper-2">Produits</div>
              <img class="dashicons-arrow-up" src="img/dashicons-arrow-up-alt2.svg" />
            </div>
          </div>
        </div>
        <div class="overlap">
          <img class="img" src="https://i.pinimg.com/736x/dd/25/8a/dd258a9fb803693b1e5ab0e2d364ffac.jpg" />
          <div class="group-5">
            <img class="line-2" src="img/line-8.svg" />
            <div class="group-6">
              <div class="text-wrapper-3">Description</div>
              <div class="text-wrapper-4">Informations Supplémentaires</div>
              <div class="text-wrapper-5">Avis [5]</div>
            </div>
            <div class="sur-cette-image-wrapper">
              <p class="sur-cette-image">
                Sur cette image captivante, &#34;Chat Duc&#34; se présente avec une majesté&nbsp;&nbsp;incontestable,
                paré d&#39;un élégant costume steampunk. Son pelage soyeux et&nbsp;&nbsp;rayé met en valeur les détails
                métalliques et cuivrés de son chapeau&nbsp;&nbsp;haut-de-forme, orné de rouages et de lunettes
                d&#39;aviateur. L&#39;œil droit du&nbsp;&nbsp;félin est accentué par un monocle orné de fines chaînes,
                ajoutant une&nbsp;&nbsp;touche de sophistication et de mystère à son regard perçant. Le col
                de&nbsp;&nbsp;son manteau victorien, décoré de motifs complexes et de petites
                boucles,&nbsp;&nbsp;complète parfaitement l&#39;ensemble, conférant à &#34;Chat Duc&#34; une
                allure&nbsp;&nbsp;noble et intrépide.
              </p>
            </div>
            <div class="div-wrapper">
              <div class="overlap-group-3">
                <img class="group-7" src="https://s3-alpha-sig.figma.com/img/a86f/8d53/9413a267b521f5bdd724208672e6cb11?Expires=1717977600&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=pVuJkExGeUaJGvJKyQLOBJZgUDZB6JaOHo~MfV3Lao8E6zDGenAeob1Y0eP8OLu5oeRWdb5fMHCvOXSMNro01qhWIO-1aerVCciOS26il0Ly8TpD-P5dDr6sBYg4JU8wJPZHm78d3Wy7tqNHo5TLkusojdKAMYk~X-arnN5PN61rYWVn4HmC1iOnyZLCle5XGTjC5Mb2aGh3BsyHgyIFiSPo8VJbJBtH500ucw0YxmTjUCo0iAdluf~QrJctcqlgTHLzxyez3rlkktUqYajZKDJ8sYSAGeLKgi8eB31faUxdDa7EnkGQ3Hf1AQOQGgtDAjPW6WB8hUms5rZ4vsy2uw__" />
                <img class="group-8" src="https://s3-alpha-sig.figma.com/img/303c/7e4b/cdf245c5bbef37ebad70c977640d2515?Expires=1717977600&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=H8dZj3ZqFASjoLz~-bpKx-Xy3BcMz4mhgzqHSteNj6023rcUKmRwZ8m1gPGaUb3XF0ekx3FoTKTGoLi7X0pTsMzCInyQbcVTpWRWVJLxqR8snVj~SULiPXedyYtJcKwdPA9S0f6To~KeZicBgqrZuAIu1GUbdt3Uoa9tqBF5QVOgFqPjWlxAxI8brTiM-fMNSOLxFQwHRuVkXXKVXuYVCzNfi8GJTcULrx3hqAeVf-NDGC5h6589NE16aKkRzX2Kr9gIoc7lPkrlANFFEwqRh0Mb-BqBWLKV5p56-lGctNa6O-OhUDUcgm9VeNxxIuP4YOFEiPH9cekC2k0Y6lpGbg__" />
              </div>
            </div>
            <img class="line-3" src="img/line-9.svg" />
          </div>
        </div>
        <div class="overlap-2">
          <div class="overlap-wrapper">
            <div class="overlap-3">
              <div class="text-wrapper-6">Nos Photos</div>
              <div class="frame">
                <div class="featured-products">
                  <div class="description-wrapper">
                    <div class="description">
                      <div class="price">
                        <div class="frame-2">
                          <div class="fix-price">150</div>
                          <div class="fix-price-2">€</div>
                        </div>
                      </div>
                      <div class="product-name">
                        <div class="product-name-2">Colonel Tigri</div>
                        <div class="sort-description">Colonel au rapport !</div>
                      </div>
                    </div>
                  </div>
                  <div class="image">
                    <div class="images">
                      <div class="overlap-group-4">
                        <img class="image-2" src="https://s3-alpha-sig.figma.com/img/ef78/20b5/61fe655e8d8426e2b215dc6a65ee08a8?Expires=1717977600&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=Rd8vEZ5oNnElkKiHiunIzi2B6Yt6urNvnYzRKoYbrnw6muy74A19Kh9lKPFpvXMUwx7l3lBEAoYaHr4BhNyiV6IB-UpwzVD35hw2sF7WgJrdlmmUqZbmDimHLtHhsb-zkNjEDJXusuUwJvVjHXAY1OubJ~wYtpU1YaQw6XovtFqu4SRjPExrl97MnDaNLMpxYgCAXZ9agKK4PJccIgXcRbaMuzJMsccBjgQI3CpA6SIR5rKIJ8bJ4N2sBOgCTa~eBv4mZygaAJp-ncZppRdNIeQNhT~FVO8yMpolZCuDDRt-cdHQPDNZdPSWqDHTDT7-~HK-ff5kSZ48GS4USDIg3A__" />
                      
                      </div>
                    </div>
                    <div class="label">
                      <div class="overlap-group-wrapper-2">
                        <div class="overlap-group-5"><div class="text-wrapper-7">-30%</div></div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="featured-products">
                  <div class="description-wrapper">
                    <div class="description-2">
                      <div class="price">
                        <div class="frame-2">
                          <div class="fix-price">150</div>
                          <div class="fix-price-2">€</div>
                        </div>
                      </div>
                      <div class="product-name-3">
                        <div class="product-name-2">Cat’s eyes</div>
                        <div class="sort-description">Big Cat Watching you</div>
                      </div>
                    </div>
                  </div>
                  <div class="images-2">
                    <div class="overlap-group-6">
                      <img class="image-2" src="https://s3-alpha-sig.figma.com/img/21f3/c407/36b34547c77b2b645537502cdea545fc?Expires=1717977600&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=T2IsmsvVTNhahKVpkDlR6sBjlA2lh1gS2YoR75MBNQUD8e1chFjdHi57I0~iaxPLisZeN4xun7JUw3sOeVfWpPRXcP06uQo-sDJIE~qcuODhBs7ue0DQAGMQuuD8ZjJbxyAkDvR91305OaJGmxnKG1IKfgjfZ5us4EK9GOgEqE2fKNtfHR8Xi1vDPNGZaZR2OFFnk-u~nxB790zr~OB-j1ba7n-iiRg-NOCRqu-1PiuAgQa91g73F56ygeVVL9vcp6aS0ZO9HpgEZCbgkMC~VT-6-riGh~KurM962LkrVcuycpxC931A0KOsjDU7jL~Ja~3iIPY~lsS3WuPl~Hl3yQ__" />
      
                    </div>
                  </div>
                </div>
                <div class="featured-products">
                  <div class="description-wrapper">
                    <div class="description-3">
                      <div class="price">
                        <div class="frame-2">
                          <div class="fix-price">150</div>
                          <div class="fix-price-2">€</div>
                        </div>
                      </div>
                      <div class="product-name-4">
                        <div class="product-name-2">Mr &amp; Mrs Cativi</div>
                        <div class="sort-description">Le couple riche</div>
                      </div>
                    </div>
                  </div>
                  <div class="image">
                    <div class="images-3">
                      <div class="overlap-group-7">
                        <img class="image-2" src="https://s3-alpha-sig.figma.com/img/0e78/debc/8a5bbb26be987b96402be207c2fb55df?Expires=1717977600&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=BfMj8j94sBLdn6wigeMxY57IpE1CLjiBu49VkNiRE7-IAvvkAyifkylvbAYWhdH-RFb6qgd6rCnyNEYc2l~2r3QUyxauJKNI09ftsWaXcz~E82L1M1rQWv8eRrMEoEEFZ1EtTkyCPIA4W-jxktnbhq584rDgWpDM~0qjXGLzmo9hD748cnHIK1HVNKeGqZJ-Q3Wwig9aIZGb9rDVyGcgIpiiUeBbW1~xDMD7eW0YnFJZdVsQCTTZImhCbfPwSL5YAMdJvnCsBEJ0IpqMVGzCwLOeHDwlhcK4fccCo2RwNrHYSOmb0OY54dI5snvNdYwp6V4xeTu0MTINJRq26dWxFw__" />
                        
                      </div>
                    </div>
                    <div class="label">
                      <div class="overlap-group-wrapper-2">
                        <div class="overlap-group-5"><div class="text-wrapper-7">-50%</div></div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="featured-products">
                  <div class="description-wrapper">
                    <div class="description-4">
                      <div class="price">
                        <div class="frame-2">
                          <div class="fix-price">150</div>
                          <div class="fix-price-2">€</div>
                        </div>
                      </div>
                      <div class="product-name-5">
                        <div class="product-name-2">Catsvidania</div>
                        <div class="sort-description">A la prochaine !</div>
                      </div>
                    </div>
                  </div>
                  <div class="label-wrapper">
                  <img class="image-2" src="https://s3-alpha-sig.figma.com/img/bbbd/86df/0bc1fac7d2937418c079f0af649385ea?Expires=1717977600&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=Q8Ca2kwTGppQDOud-nbenMipgMqk-7wkf0Ic1vZ2i9NVCAmIWvfmALCDEUHPPuYr9e4WXhobQ1Tk91DNwNB-UBr2DzRYB9fcUu36YDOaKIplLianZkj7IZzsfZhP4CFdvfDsbixQIHkgv36~E2OkzzshtUbTx8W-HCdbBt583iEvFZuTL5-mfdj1yllvwEIrmvLtU0oxsDVviqr81urW4yBhInTpLtfPlW7UZpwGkVMoWGM0JyZz6L5MehL4CLKHsNsHwuUO8USim3RmXldPlZOo9CDt4giabZvKCFzFWuWM8g3ors8MI8DYYCw8xogOkmkqbWwbFHyofCtof6VZFg__" />

                    <div class="label-2">
                      <div class="overlap-group-wrapper-2">
                        <div class="overlap-group-8"><div class="text-wrapper-8">New</div></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="show-more">
                <div class="overlap-4"><div class="text-wrapper-9">Voir Plus</div></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>